.round{
  margin-top: 1%;
  width: 10%;
  height: 100px;
  background-color: lightgrey;
  border-radius: 50%;
}
.container{
  display: flex;
  height: 600px;
  /* permet de placer les elements en bas de l'axe vertical */
  align-items: flex-end;
}
.square{
  margin-left: 1%;
  margin-top: 1%;
  width: 75%;
  height: 100px;
  background-color: lightgreen;
}
